/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.booki-logo img {
    height: 30px;
}

.nav-bar ul {
    display: flex;

}

.nav-bar ul li {
    margin-left: 30px;
    list-style: none;
    
}

.nav-bar ul li a {
    text-decoration: none;
    position: relative;

}

.nav-bar ul li a:hover {
    text-decoration: none;
    color: #0065FC;
}

.nav-bar ul li a:hover::before {
    content: '';
    position: absolute;
    width: 100%; 
    height: 2px;
    background-color: #0065FC;
    top: -20px;
    left: 0;
}

/****** Titre et recherche ***********/

.title {
    margin-top: 50px;
}

.search-bar {
    display: flex;
    justify-content: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-right: 10px;
}

.search-input-wrapper i {
    color: #333;
    margin-right: 5px;
    background-color: #ccc;
   padding: 10px;
   border-radius: 10px 0 0 10px;
}

.search-input-wrapper input[type="text"] {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    flex: 1;
}

.search-bar button {
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 9px 10px;
    font-size: 16px;
    cursor: pointer;

}

.search-bar button:hover {
    background-color: #004bb5;
}

.subtitle h2 {
    font-size: 19px;
    font-weight: 300;
}

/****** Filters ***********/

.filters {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;

}

.filters-title {
    margin-right: 20px; /* Espace entre le titre et les boutons */
}

.filters button {
    display: flex; /* Utiliser flex au lieu de flexbox */
    align-items: center;
    background-color: white;
    border: 1px solid black; /* Correction de la bordure */
    border-radius: 20px; /* Ajoute des coins arrondis */
    padding: 10px 15px;
    margin-right: 10px; /* Espace entre les boutons */
    cursor: pointer;
    font-size: 14px;
}

.filters button i {
    margin-right: 5px; /* Espace entre l'icône et le texte */
    color: #0065FC;
}

.filters button:hover {
    background-color: #ccdffc;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    gap: 20px; /* Espace entre les cartes */
}

.hebergements-cards .card {
    background-color: white; /* Ajoute une couleur de fond pour les cartes */
    border: 1px solid #ccc; /* Ajoute une bordure pour les cartes */
    border-radius: 20px; /* Ajoute des coins arrondis */
    overflow: hidden; /* Masque tout débordement */
    display: flex;
    flex-direction: column; /* Arrange les enfants verticalement */
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur */
    height: 100%; /* Assure que la carte prend toute la hauteur disponible */
}

.hebergements-cards img {
    width: 100%;
    max-height: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
} 

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
    font-size: 15px;
}

.hebergements .card-subtitle {
    margin: 10px;
    font-size: 13px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 10px;
    font-size: 13px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****** Activités ***********/

.activites-marseille {
    width: 100%;
    background-color: rgba(245, 245, 245, 0.905);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
}

.activites-cards img {
    max-height: 130px;
    border-radius: 20px;
}

.activites-marseille-title {
    padding: 20px;

}

.activites-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* espace entre les cartes */
    justify-content: center; /* centre les cartes horizontalement */
}

.activites-cards {
    flex: 1 1 calc(25% - 20px); /* pour quatre éléments par ligne */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.activites-cards img {
    min-height: 350px;
    border-radius: 20px 20px 0 0; /* Angles arrondis en haut seulement */
    width: 100%;
}

.card {
    background: none;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 0;
    border-radius: 20px 20px 0 0; /* Angles arrondis en haut seulement */
}


/****** Footer ***********/

.footer {
    background-color: rgba(170, 170, 170, 0.905);
    color: #000000;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Pour séparer les colonnes également */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.footer-column {
    flex: 1;
    padding: 0 20px; /* Espacement intérieur des colonnes */
    box-sizing: border-box;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column p,
.footer-column ul,
.footer-column li {
    margin: 10px;
    padding: 0;
    list-style: none;
}




/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-cards {
        grid-template-columns: repeat(2, 1fr); /* Deux colonnes pour les cartes */
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .nav-bar ul {
        flex-direction: column;
    }

    .nav-bar ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .search-bar {
        flex-direction: column;
    }

    .search-input-wrapper {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-bar button {
        width: 100%;
    }

    .filters {
        flex-direction: column;
    }

    .filters button {
        margin-bottom: 10px;
        width: 100%;
    }

    .hebergements-cards {
        grid-template-columns: 1fr; /* Une seule colonne pour les cartes */
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .populaires-cards img {
        width: 100%;
        height: auto;
        border-radius: 20px 20px 0 0;
    }

    .populaires-cards .card-content {
        width: 100%;
        padding: 10px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        width: 100%;
        margin-bottom: 20px;
    }
}